{% macro modal(id, title, body_html, aria_desc=None, with_footer=True) -%}
  <dialog id="{{ id }}" class="backdrop" aria-labelledby="{{ id }}_title" aria-describedby="{{ id }}_desc" aria-modal="true" role="dialog">
    <div class="modal-header">
      <h2 id="{{ id }}_title">{{ title }}</h2>
    </div>
    <div class="modal-body">
      {% if aria_desc %}<p id="{{ id }}_desc" class="sr-only">{{ aria_desc }}</p>{% endif %}
      {{ body_html | safe }}
    </div>
    {% if with_footer %}
      <div class="modal-footer">
        <button class="btn" data-dialog-close>Fechar</button>
      </div>
    {% endif %}
  </dialog>
{%- endmacro %}